name: Checks

on:
  workflow_call:

jobs:

  Version-Check:
    name: Version
    runs-on: ubuntu-latest

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment

      - name: Check Version(s)
        run: poetry run version-check `poetry run python -c "from noxconfig import PROJECT_CONFIG; print(PROJECT_CONFIG.version_file)"`

  Documentation:
    name: Docs
    needs: [ Version-Check ]
    runs-on: ubuntu-latest

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment

      - name: Build Documentation
        run: |
          poetry run python -m nox -s docs:build

  build-matrix:
    name: Generate Build Matrix
    uses: ./.github/workflows/matrix-python.yml

  Lint:
    name: Linting (Python-${{ matrix.python-version }})
    needs: [ Version-Check, build-matrix ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run lint
        run: poetry run nox -s lint:code

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4.6.0
        with:
          name: lint-python${{ matrix.python-version }}
          path: |
            .lint.txt
            .lint.json
          include-hidden-files: true

  Type-Check:
    name: Type Checking (Python-${{ matrix.python-version }})
    needs: [ Version-Check, build-matrix ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run type-check
        run: poetry run nox -s lint:typing

  Security:
    name: Security Checks (Python-${{ matrix.python-version }})
    needs: [ Version-Check, build-matrix ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run security linter
        run: poetry run nox -s lint:security

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4.6.0
        with:
          name: security-python${{ matrix.python-version }}
          path: .security.json
          include-hidden-files: true

  Vulnerabilities:
    name: Check Vulnerabilities (Python-${{ matrix.python-version }})
    needs: [ Version-Check, build-matrix ]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Package vulnerabilities Check
        run: poetry run nox -s dependency:audit

  Format:
    name: Format Check
    runs-on: ubuntu-latest

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: "3.9"

      - name: Run format check
        run: poetry run nox -s project:format

  Tests:
    name: Unit-Tests (Python-${{ matrix.python-version }})
    needs: [ Documentation, Lint, Type-Check, Security, Format, build-matrix ]
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Tests and Collect Coverage
        run: poetry run nox -s test:unit -- -- --coverage

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4.6.0
        with:
          name: coverage-python${{ matrix.python-version }}-fast
          path: .coverage
          include-hidden-files: true
