name: Slow-Checks

on:
  workflow_call:

jobs:
  build-matrix:
    name: Generate Build Matrix
    uses: ./.github/workflows/matrix-all.yml
    permissions:
      contents: read

  tests:
    name: Integration-Tests (Python-${{ matrix.python-version }}, Exasol-${{ matrix.exasol-version}})
    needs:
      - build-matrix
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: "2.3.0"

      - name: Run Tests and Collect Coverage
        run: poetry run -- nox -s test:integration -- --coverage --db-version ${{ matrix.exasol-version }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: coverage-python${{ matrix.python-version }}-exasol${{ matrix.exasol-version }}-slow
          path: .coverage
          include-hidden-files: true


  verify-poetry-installation:
    needs:
     - build-matrix
    # This Job verifies if pipx installation is successful on each of the
    # selected GitHub Runners.
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - ubuntu-22.04
          - int-linux-x64-4core-gpu-t4-ubuntu24.04-1
          - int-linux-x64-4core-ubuntu24.04-1
          - int-linux-x64-2core-ubuntu24.04-1
        python-version: ${{ fromJson(needs.build-matrix.outputs.matrix).python-version }}
    name: Install Pipx on ${{ matrix.runner }} (Python-${{ matrix.python-version }})
    runs-on:
      labels: ${{ matrix.runner }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6

      - name: Set up Python & Poetry Environment
        uses: ./.github/actions/python-environment
        with:
          python-version: "${{ matrix.python-version }}"
          poetry-version: "2.3.0"

      - name: Poetry version
        run: poetry --version

      - name: Validate Python version
        run: |
          poetry run which python
          poetry run python --version
          poetry env list
          poetry run python --version | grep "${{ matrix.python-version }}"
